<button (click)="cadastroPessoa()">Cadastro Pessoa</button>

<app-layout *ngIf="mostrarCadastroPessoa">    

    <p>{{titulo}}</p>


    <table border="1">        
        <thead>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Data Nascimento</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th></th>
            <th></th>
        </thead>
        <tr *ngFor="let pessoa of listaPessoas">
            <td>{{pessoa.codigo}}</td>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.telefone}}</td>
            <td>{{pessoa.dataNascimento}}</td>
            <td>{{pessoa.endereco}}</td>
            <td>{{pessoa.bairro}}</td>
            <td>{{pessoa.cidade}}</td>
            <td>{{pessoa.estado}}</td>
            <td><a style="cursor: pointer;" (click)="alterar(pessoa)">Alterar</a></td>
            <td><a style="cursor: pointer;" (click)="excluir(pessoa)">Excluir</a></td>
        </tr>        
    </table>



    <h3 [textContent]="titulo"></h3>

    
    <app-inputtexto nome="Codigo:" 
        [valorInicial]="pessoa.codigo"
        (valorRetorno)="pessoa.codigo=$event"
        tipo="text">
    </app-inputtexto>
        
    <app-inputtexto nome="Nome:" 
        [valorInicial]="pessoa.nome"
        (valorRetorno)="pessoa.nome=$event">
    </app-inputtexto>
    
    <app-inputtexto nome="Telefone:" 
        [valorInicial]="pessoa.telefone"
        (valorRetorno)="pessoa.telefone=$event">
    </app-inputtexto>   

    <app-inputtexto nome="Data Nascimento:" 
        [valorInicial]="pessoa.dataNascimento"
        (valorRetorno)="pessoa.dataNascimento=$event"
        tipo="date">
    </app-inputtexto> 
       
    <app-inputtexto nome="Endereço:" 
        [valorInicial]="pessoa.endereco"
        (valorRetorno)="pessoa.endereco=$event">
    </app-inputtexto>

    <app-inputtexto nome="Bairro:" 
        [valorInicial]="pessoa.bairro"
        (valorRetorno)="pessoa.bairro=$event">
    </app-inputtexto>
    
    <app-inputtexto nome="Cidade:" 
        [valorInicial]="pessoa.cidade"
        (valorRetorno)="pessoa.cidade=$event">
    </app-inputtexto>
    
    <app-select nome="Estado:" [opcoes]="listaEstado" [valorInicial]="pessoa.estado" (valorRetorno)="pessoa.estado=$event"></app-select>    
    

    <br/>
    <br/>
    <app-button (clique)="imprimir()" nome="Imprimir"></app-button>    
    <app-button *ngIf="!mostrarBotaoSalvarAlteracao" (clique)="incluir()" nome="Incluir"></app-button>
    <app-button *ngIf="mostrarBotaoSalvarAlteracao" (clique)="salvarAlteracao()" nome="Alterar"></app-button>
    

</app-layout>

