<app-layout>
    <p>{{titulo}}</p>
    <h3 [textContent]="titulo"></h3>

    <label>Codigo:</label>
    <input type="text" [(ngModel)]="codigo"/>    
    <br/>
    <label>Nome:</label>
    <input type="text" [(ngModel)]="nome"/>
    <br/>
    <label>Telefone:</label>
    <input type="text" [(ngModel)]="telefone"/>
    <br/>
    <label>Data de Nascimento:</label>
    <input type="text" [(ngModel)]="dataNascimento"/>
    <br/>
    <label>Endereço:</label>
    <input type="text" [(ngModel)]="endereco"/>
    <br/>
    <label>Bairro:</label>
    <input type="text" [(ngModel)]="bairro"/>
    <br/>
    <label>Cidade:</label>
    <input type="text" [(ngModel)]="cidade"/>
    <br/>
    <label>Estado:</label>
    <input type="text" [(ngModel)]="estado"/>

    

    <br/>
    <br/>
    <button (click)="imprimir()">Imprimir</button>

</app-layout>

